<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>シフト管理システム</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='base-style.css') }}">
</head>
<body>
    <h1>シフト管理システム</h1>
    <ul>
      <li><a href="{{ url_for('user.list') }}">ユーザー（顧客）</a></li>
      <li><a href="{{ url_for('workplace.list') }}">職場</a></li>
      <li><a href="{{ url_for('time.list') }}">労働時間</a></li>
      <li><a href="{{ url_for('shift.list') }}">シフト管理</a></li>
    </ul>
</body>
</html>
