<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>データ一覧</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='base-style.css') }}">
</head>
<body>
    <h1>{{ title }}</h1>
    <ul class="breadcrumb">
        <li><a href="{{ url_for('index') }}">HOME</a></li>
        <li><a href="{{ url_for('workplace.list') }}">職場一覧</a></li>

    </ul>
    <a href="{{ url_for('workplace.add') }}">新規職場追加</a>
    <table>
        <thead>
            <tr>
                <th>&nbsp;</th>
                <th>職場名</th>
                <th>時給</th>
            </tr>
        </thead>
        <tbody>
            {% for workplace in items %}
            <tr>
                <td><a href="{{ url_for('workplace.edit', workplace_id=workplace.id) }}">編集</a></td>
                <td>{{ workplace.name }}</td>
                <td>{{ workplace.price }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
